.icon-externalportal {
  background-image: url("../img/externalportal-dark.svg");
  filter: var(--background-invert-if-dark);
}

body.theme--dark .icon-externalportal {
  background-image: url("../img/externalportal.svg");
}
