.icon-externalportal {
  background-image: url("../img/externalportal-dark.svg");
  filter: var(--background-invert-if-dark);
}

body.theme--dark .icon-externalportal {
  background-image: url("../img/externalportal.svg");
}

.panel--content [data-id="externalportal"] {
  height: 100%;
}

.panel.externalportal--extra-wide {
  width: 400px !important;
}
